body {
    font-family: Consolas, monospace;
    color: #0094ff;
    font-size: 18px;
}

div {
    width: 960px;
    margin: 10% auto;
}

p:first-letter {
    font-family: "Edwardian Script ITC", cursive;
    font-size: 2.4em;
}

p:first-line {
    line-height: 1.5;
    font-weight: bold;
}