body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    background: rgb(199, 140, 243);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(199, 140, 243, 1) 0%, rgba(146, 21, 242, 1) 28%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(199, 140, 243, 1)), color-stop(28%, rgba(146, 21, 242, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(199, 140, 243, 1) 0%, rgba(146, 21, 242, 1) 28%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(199, 140, 243, 1) 0%, rgba(146, 21, 242, 1) 28%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(199, 140, 243, 1) 0%, rgba(146, 21, 242, 1) 28%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(199, 140, 243, 1) 0%, rgba(146, 21, 242, 1) 28%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c78cf3', endColorstr='#9215f2', GradientType=0);
    /* IE6-9 */
}

input,
button {
    background-color: #b35ef3;
    outline: none;
}

button {
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

#logo-container h1 a img {
    width: 300px;
}

body header nav {
    border: 1px solid black;
    border-radius: 15px;
    width: 73%;
    padding: 10px
}

article {
    border-radius: 10px;
    color: #fff;
    width: 90%;
}

body section article footer p {
    font-size: 13px;
}

body section article footer p a {
    color: #be70f6;
}

body aside {
    width: 22%;
    margin-left: 0;
}

body aside ul>li p {
    font-size: 12px;
}

body aside ul>li h2 {
    font-size: 1.2em;
    font-weight: lighter;
}

body aside ul>li p em {
    color: #cccccc;
}

body aside ul li ul li {
    padding-left: 35px;
    padding-bottom: 3px;
}

body aside+footer p {
    text-align: center;
}