<h1 class="text-muted">ITEMS</h1>
<nav class="navbar navbar-inverse">
<ul class="class="list-group">
	{{#each items}}
	<li class="list-group-item">
		<a href="#/items/{{id}}" class="btn btn-info btn-lg">{{name}}</a><br />
	</li>
	{{/each}}
</ul>
</nav>
