body {
	font-size: 22px;
	background-color: #f0f8ff;
}

nav {
	margin-left: 40%;
}

nav ul {
	background-color: #fff;
	width: 250px;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul ul {
	padding-left: 12px;
	width: 240px;
	display: none;
	opacity: .5;
}

nav ul li:hover ul {
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}