body{
    background-color:#f0f8ff;
	font-size:18px;
}
#wrapper{
	margin:0 auto;
	background-color:#eeeeee;
	width:420px;
}
section{	
	padding:10px;
}
header h2{
	margin-top:0;
	font-family: Arial Narrow, sans-serif;
	font-weight:100;
	font-size: 1.2em;
	padding-top:5px;
	opacity:.7;
}
article{
	margin-top: 40px;
    border: 1px solid #b3b3b3;
    padding: 15px;
    background-color: #ffffff;
	overflow:auto;
	
}
img {
    border: 1px solid #b3b3b3;
    float: left;
    margin-right: 15px;
   max-width: 130px;
    max-height: 100px;
}
p {
	font-size:.8rem;
	margin-top:0;
}
button {
    background-image: url('images/button.png');
    color: #ffffff;
    width: 80px;
    height: 25px;
    border: none;
    cursor: pointer;
}
.listen{
    width:65px;
	text-shadow:0 0 1px gray;
	float:right;
    
}
form{
 float:right;
}


